@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

input::before,
input::after {
  content: none;
}
